.numLotto{
    border-radius: 50%;
    border: 2px solid black;
    margin: 30px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: center;
    position: relative;
   }
.num{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-size: 24px;
}